@font-face {
  font-family: "KanitLocal";
  src: url("/assets/fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: none;
  cursor: pointer;

  font-size: 20px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

.icon {
  font-size: 24px;

  background: linear-gradient(90deg, #cbb37a, #e6e6e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-family: "KanitLocal", "Kanit", "Segoe UI", sans-serif;
  background: linear-gradient(90deg, #cbb37a, #e6e6e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
