.button {
  position: relative;
  padding: 14px 32px;
  border-radius: 999px;
  background-color: #4b4b4b;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.sm {
  padding: 8px 20px;
  font-size: 13px;
}

.md {
  padding: 12px 32px;
  font-size: 15px;
}

.lg {
  padding: 16px 40px;
  font-size: 17px;
}


.goldSilver {
  background-image:
    linear-gradient(#4b4b4b, #4b4b4b),
    linear-gradient(90deg, #cbb37a, #e6e6e6);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  border: 3px solid transparent;
  border-radius: 999px;
}

.goldSilver span {
  background: linear-gradient(90deg, #cbb37a, #e6e6e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goldSilver:hover {
  color: #ffffff;

  background-image:
    linear-gradient(#5a5a5a, #5a5a5a),
    linear-gradient(90deg,
      #e0c27a,
      #ffffff);
}